# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Logs
npm-debug.log*

# Next.js build output
/client/.next/
/client/out/

# Database and secrets
.env
.env.local
/server/.env

# IDE files
.vscode